<div class="side_bar_header">
  <%= link_to current_user.name, edit_user_path(current_user), class: "side_bar_header_username" %>
  <a href="#" class="side_bar_header_btn">チャットを作成する</a>
</div>
<div class="rooms">
  <div class="room">
    <a href="#" class="roomname">techroom1</a>
  </div>
</div>
