<div class="side_bar_header">
  <a href="#" class="side_bar_header_username">仮ネーム</a>
  <a href="#" class="side_bar_header_btn">チャットを作成する</a>
</div>
<div class="rooms">
  <div class="room">
    <a href="#" class="roomname">techroom1</a>
  </div>
</div>
