.wrapper{
  display: flex;
}

.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side_bar_header{
  background-color: #253141;
  height: 100px;
  padding: 0px 20px;
}

.rooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0px 20px;
}

.main_chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.main_chat_header{
  background-color: #ffffff;
  height: 100px;
  padding: 0px 40px;
}

.main_chat_body{
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px 0px;
}

.main_chat_forms{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}